<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <% include header %>

        <img src="/Images/Error404.png" style="display:block; margin:auto">

        <% include footer %>
    </body>

</html>
