<!DOCTYPE html>
<html lang="en">

    <head>
        <% include head %>
    </head>

    <body>
        <% include header %>

        <div class="container">
            <div class="main-content">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <form action="/login" method="post">
                            <div class="form form-horizontal">
                                <div class="form-group">
                                    <label for="username">User Name:</label>
                                    <input type="text" name="username" class="form-control"
                                           required="required" data-required-msg="Please enter user name">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" class="form-control"
                                           required="required" data-required-msg="Please enter password">
                                </div>

                                <input type="submit" class="btn btn-default" value="Log in">

                                <% if (typeof message !== 'undefined') {%>
                                    <label class="label label-danger"> <%= message %> </label>
                                <% } %>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <% include footer %>
    </body>

</html>
